header {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1);
}
.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}
.header_logo > div {
    height: 100%;
    width: 65px;
}
.header_logo > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header_title {
    font-size: 20px;
    font-weight: 500;
}
.header_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
    position: relative;
    cursor: pointer;
}
.header_user_img {
    height: 100%;
    width: 65px;
    display: flex;
    align-items: center;
    justify-self: center;
}
.header_user_img > img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.header_user_name {
    font-size: 14px;
}
.user_popup {
    position: absolute;
    right: 10px;
    top: 110%;
    background: white;
    border: 1px solid #ccc;
    width: 80%;
    z-index: 100;
}
.user_popup-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user_popup-list-item {
    padding: 10px;
    cursor: pointer;
}
.user_popup-list-item > button {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
}